.flex0{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}


.flex1{
  display: flex;
  height: 100px;
  align-items: center;
}

.flex2 {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

}

.titulo{
  color: rgb(16, 153, 153);

}